vimfiles/all/
vimfiles/_vim_mru_files
vimfiles/*-dict*
!vimfiles/javascript.dict
!vimfiles/complete-dict
vimfiles/ctrlp/mru/cache.txt
vundle/
vimfiles/bundle/
vim73/
vim74/
*.swp
vimfiles/.netrwhist
vimfiles/ctrlp/hist
