vimfiles/_vim_mru_files
vimfiles/*-dict*
!vimfiles/javascript.dict
!vimfiles/complete-dict
vimfiles/ctrlp/mru/cache.txt
vim73/
vim74/
vundle/
bundle/
./vundle/
.git
!vimfiles/bundle/Vundle.vim/autoload/vundle/
!lipengfei/
*.swp
*.swo
*.swt
.netrwhist
cache.txt
